{% extends "layout.html" %}
{% block content1 %}

<div class="mt-24 mb-20 md:mt-20">
<div class="mt-3 mx-1 md:mx-auto max-w-5xl text-center">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
            <div class="flex items-center justify-between">
                <h2 class="text-4xl tracking-tight font-extrabold text-pr1">Question List</h2>
                <div>
                    <a href="{% url 'ad_index' %}" class="p-2 bg-pr1 text-white border border-white-1 rounded-lg hover:bg-pr2">Back</a>
                    <a href="{% url 'ad_new_question' %}" class="p-2 bg-pr1 text-white border border-white-1 rounded-lg hover:bg-pr2">Add Question</a>
                </div>
                
            </div>
            <tr>
                <th scope="col" class="px-4 py-3">
                    Question
                </th>
                <th scope="col" class="px-3 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
            <tr class="bg-white border-b">

                <th scope="row" class="px-3 py-2 font-medium text-gray-900 text-wrap whitespace-nowrap">
                    {{ obj.question|truncatechars:15 }}
                </th>
                <td class="px-3 py-3">
                    <a class="text-white bg-pr1 hover:bg-pr2 focus:ring-4 focus:outline-none focus:ring-bg-pr2 font-medium rounded-lg text-sm p-2"
                        href="{% url 'ad_detail_question' obj.pk %}">Detail</a>
                    <a class="text-white bg-pr1 hover:bg-pr2 focus:ring-4 focus:outline-none focus:ring-bg-pr2 font-medium rounded-lg text-sm p-2 "
                        href="{% url 'ad_update_question' obj.pk %}">Response</a>
                    <a class="text-white  bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm p-2 "
                        href="{% url 'ad_update_question' obj.pk %}">Delete</a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}