{% extends "layout.html" %}
{% block content1 %}

<div class="mt-24 mb-20 md:mt-14">
    <div class="container mx-auto px-4 lg:max-w-5xl">
        <div class="items-center flex flex-wrap justify-center">
            <div class="w-full md:w-8/12 mx-auto mt-6">
                <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-pr2">
                    <div class="bg-white p-4 text-center ">
                        <h1
                            class="max-w-2xl mb-4 text-4xl text-pr2 font-extrabold tracking-tight leading-none md:text-5xl  uppercase ">
                            Create Blog </h1>
                    </div>
                    <blockquote class="relative p-8 mb-4 ">
                        {% include "components/utilities/divider.html" with div_c="text-pr2" div_hs="100px" div_m="99px"  %}

                        <form method="post" action="{% url 'ad_new_blog' %}" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <div class="relative w-full m-4">
                                {% include "components/utilities/input_d.html" with input=form.title label="Title" label_t=form.title.id_for_label error=form.title.errors %}
                            </div>
                            <div class="relative w-full m-4">
                                {% include "components/utilities/input_d.html" with input=form.image label="Image" label_t=form.image.id_for_label error=form.image.errors %}
                            </div>
                            <div class="relative w-full m-4">
                                {% include "components/utilities/input_d.html" with input=form.category label="Category" label_t=form.category.id_for_label error=form.category.errors %}
                            </div>
                            <div class="relative w-full m-4">
                                {% include "components/utilities/input_d.html" with input=form.content label="Content" label_t=form.content.id_for_label error=form.content.errors %}
                            </div>
                            <div class="text-center mt-6">
                                <button
                                    class="bg-white text-gray-950 active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                                    type="submit" style="transition: all 0.15s ease 0s;">
                                    Submit
                                </button>
                            </div>
            
                        </form>
                </blockquote>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    
</script>


{% endblock %}