<div class="max-w-sm {{ bg_c }} mt-2 mx-auto  ">
    <a href="#" class="">
        <img class="rounded-lg w-full bg-cover" src="{{ image }}" alt="" />
    </a>
    <div class="p-2">
        <a href="#">
            <h5 class="mb-2 text-3xl font-bold tracking-tight {{ tx_pc }} ">{{ title }}</h5>
        </a>
        <p class="mb-3 font-normal {{ tx_c}} ">{{ content }}</p>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-black bg-pr1 rounded-lg hover:bg-black focus:ring-4 focus:outline-none focus:ring-green-300 hover:text-white border hover:border-pr2 ">
            Read more
            {% include "components/utilities/arrow_fw.html" with size="3.5" %}
        </a>
    </div>
</div>