

<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative min-h-80 overflow-hidden rounded-lg md:h-96">
         <!-- Item 1 -->
         <div class="hidden duration-700 ease-in-out " data-carousel-item>
            <div class="mx-auto my-auto max-w-2xl max-h-64 absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                <canvas id="myChart" style="width:100%;max-width:700px "  ></canvas>
            </div>
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out " data-carousel-item>
            <div class="mx-auto my-auto max-w-2xl max-h-64">
                <canvas id="myChart1" style="width:100%" ></canvas>
            </div>
        </div>
        
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
       </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>


<script>
    const xValues = ["Tuobo", "Nyenebo", "Sarbo", "Glarro "];
    const yValues = [4898, 3792, 3592, 1985];
    const yValue1 = [5307, 4113, 3902, 2485];
    const barColors = ["green", "green","green","green"];
    const barColors1 = ["blue", "blue","blue","blue"];

    new Chart("myChart1", {
    type: "bar",
    data:{
        labels: xValues,
        datasets: [{
            label: "Female",
            backgroundColor: barColors,
            data: yValues
        },
        {
            label: "Male",
            backgroundColor: barColors1,
            data: yValue1
        },
    ]
    },
    options: {
            plugins: {
                legend: {display: true},
                title: {
                    display: true,
                    text: "Population of the District (per Group)"
                }
            }
        }
    });

    const piex = ["Male", "Female"];
    const piey = [14267, 15807];
    const pieColors = ["red", "green"];

    new Chart("myChart", {
        type: "pie",
        data: {
            labels: piex,
            datasets: [{
            backgroundColor: pieColors,
            data: piey
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: "Population of the District (per Gender)"
                }
            }
        }
    });

    const xValues1 = [50,60,70,80,90,100,110,120,130,140,150];
    const yValues1 = [7,8,8,9,9,9,10,11,14,14,15];

    new Chart("myChart2", {
    type: "line",
    data: {
        labels: xValues1,
        datasets: [{
        backgroundColor:"rgba(0,0,255,1.0)",
        borderColor: "rgba(0,0,255,0.1)",
        data: yValues1
        }]
    },
    options:{
        title: {
                display: true,
                text: "World Wide Wine Production"
                }
    }
    });
        const xValues2 = [100,200,300,400,500,600,700,800,900,1000];

    new Chart("myChart3", {
    type: "line",
    data: {
        labels: xValues2,
        datasets: [{
        data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
        borderColor: "red",
        fill: false
        },{
        data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
        borderColor: "green",
        fill: false
        },{
        data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
        borderColor: "blue",
        fill: false
        }]
    },
    options: {
        legend: {display: false}
    }
    });

</script>