
<div  class="mt-12 pt-8 pb-10 lg:pt-20 lg:pb-24 bg-white" data-block-type="textWithMedia">
    <div class="box-content mx-auto max-w-screen-xl px-6">
        <div class="space-y-10 lg:grid lg:grid-cols-12 lg:grid-flow-col-dense lg:gap-5 lg:space-y-0"
            x-data="{ shown: false }" x-intersect.once="shown = true" x-cloak>
            <div class="flex lg:col-span-4">
                <div class="flex flex-col justify-between mx-auto lg:mx-0 max-w-[610px]">
                    <h2 class="text-4xl font-semibold"><span style="color: rgb(0,171,78)">Weave your brand into the fabric of a
                        city with Lime Ads.</span></h2>
                    <div>
                        <div class="prose text-sm">
                            <p>From uptown to downtown, to side-streets and Main Street and everywhere in between,
                                advertising your brand on Lime e-bikes will help you stand out and reach consumers on
                                the go, wherever they are…</p>
                        </div>
                        <ul class="flex flex-wrap gap-2 mt-6 font-bold body-01">
                            <li>
                                <a class="link-underline-on after:content-[&#039;&gt;&#039;] after:inline-block after:pointer-events-none after:ms-2  text-green-200"
                                    href="https://www.li.me/about/partners/lime-ads#customHtml796227">
                                    Get started</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex items-center lg:col-span-6 lg:col-start-7 lg:-ms-11">
                <div class="mx-auto delay-150 lg:mx-0 lg:max-w-none max-w-[610px]"
                    :class="{'intersected': shown}">
                    <figure>
                        <img class="rounded-3xl"
                            src="https://img.li.me/content/uploads/lime-pride-wrap-Large.jpeg?auto=compress&amp;crop=focalpoint&amp;fit=crop&amp;fp-x=0.5&amp;fp-y=0.5&amp;q=80&amp;w=1348&amp;s=a228c6aeb372cd3909923b915d051d38"
                            srcset="https://img.li.me/content/uploads/lime-pride-wrap-Large.jpeg?auto=compress&amp;crop=focalpoint&amp;fit=crop&amp;fp-x=0.5&amp;fp-y=0.5&amp;q=80&amp;w=1348&amp;s=a228c6aeb372cd3909923b915d051d38 1348w, https://img.li.me/content/uploads/lime-pride-wrap-Large.jpeg?auto=compress&amp;crop=focalpoint&amp;fit=crop&amp;fp-x=0.5&amp;fp-y=0.5&amp;q=80&amp;w=674&amp;s=2d126212c1799934142091c73ba12d38 674w"
                            width="1348" height="758" alt sizes="100vw" loading="lazy">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>