{% load static %}

<section class="relative py-20">
    {% include "components/utilities/divider.html" with n1="44" div_c="text-white" div_hs="105px" div_m="80px" div_h="80px" %}

    <div class="container mx-auto px-4">
        <div class="items-center flex flex-wrap justify-center {{ fl }}">
            <div class="w-full md:w-4/12 px-4">
                <img alt="..." class="min-w-[200px] rounded-lg shadow-lg " src="{% static 'images/suit2.jpeg' %}" />
            </div>
            <div class="w-full md:w-8/12 px-4">
                
            </div>
        </div>
    </div>
</section>

