

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
        <caption class="font-extrabold text-2xl">Student Population</caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    HEALTH FACILITY/ DISTRICT
                </th>
                <th scope="col" class="px-6 py-3">
                    Female
                </th>
                <th scope="col" class="px-6 py-3">
                    Male
                </th>

                <th scope="col" class="px-6 py-3">
                    Volunteers
                </th>
                <th scope="col" class="px-6 py-3">
                    Employed
                </th>
                <th scope="col" class="px-6 py-3">
                    TOTAL
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b  hover:bg-gray-50 ">
                <th scope="row" class="font-bold px-6 py-4 text-gray-900 whitespace-nowrap ">
                    Webbo Health District 
                </th>
            </tr>
            <tr class="bg-white border-b  hover:bg-gray-50 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    Jimmyville clinic
                </th>
                <td class="px-6 py-4">
                    6
                </td>
                <td class="px-6 py-4">
                    5
                </td>
                
                <td class="px-6 py-4">
                    5
                </td>
                <td class="px-6 py-4">
                    6
                </td>
                <td class="px-6 py-4">
                    11
                </td>
            </tr>
            <tr class="bg-white border-b  hover:bg-gray-50 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    Tuobo clinic
                </th>
                <td class="px-6 py-4">
                    4
                </td>
                <td class="px-6 py-4">
                    8
                </td>
                
                <td class="px-6 py-4">
                    5
                </td>
                <td class="px-6 py-4">
                    7
                </td>
                <td class="px-6 py-4">
                    12
                </td>
            </tr>
            <tr class="bg-white border-b  hover:bg-gray-50 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    Nyenebo clinic
                </th>
                <td class="px-6 py-4">
                    1
                </td>
                <td class="px-6 py-4">
                    6
                </td>
                <td class="px-6 py-4">
                    3
                </td>
                <td class="px-6 py-4">
                    4
                </td>
                <td class="px-6 py-4">
                    7
                </td>
            </tr>
            <tr class="bg-white border-b  hover:bg-gray-50 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    Nyaaken clinic
                </th>
                <td class="px-6 py-4">
                    1
                </td>
                <td class="px-6 py-4">
                    5
                </td>
                
                <td class="px-6 py-4">
                    1
                </td>
                <td class="px-6 py-4">
                    5
                </td>
                <td class="px-6 py-4">
                    6
                </td>
            </tr>
            <tr class="bg-white border-b  hover:bg-gray-50 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    Parken Health Post
                </th>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    
                </td>
                
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
            </tr>
            <tr class="bg-white border-b  hover:bg-gray-50 ">
                <th scope="row" class="font-bold px-6 py-4 text-gray-900 whitespace-nowrap ">
                    Sarbo Health District 
                </th>
            </tr>
            <tr class="bg-white border-b font-bold hover:bg-gray-50 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    Sarbo Health Centre 
                </th>
                <td class="px-6 py-4">
                    6
                </td>
                <td class="px-6 py-4">
                    10
                </td>
                
                <td class="px-6 py-4">
                    3
                </td>
                <td class="px-6 py-4">
                    13
                </td>
                <td class="px-6 py-4">
                    16
                </td>
            </tr>
            <tr class="bg-white border-b font-bold hover:bg-gray-50 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    River Gbeh clinic
                </th>
                <td class="px-6 py-4">
                    7
                </td>
                <td class="px-6 py-4">
                    5
                </td>
                
                <td class="px-6 py-4">
                    4
                </td>
                <td class="px-6 py-4">
                    8
                </td>
                <td class="px-6 py-4">
                    12
                </td>
            </tr>
            <tr class="bg-white border-b font-bold hover:bg-gray-50 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    Webbo Health Team
                </th>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                
                <td class="px-6 py-4">
                    14
                </td>
                <td class="px-6 py-4">
                    28
                </td>
                <td class="px-6 py-4">
                    42
                </td>
            </tr>
            <tr class="bg-white border-b font-bold hover:bg-gray-50 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    Freetown clinic
                </th>
                <td class="px-6 py-4">
                    3
                </td>
                <td class="px-6 py-4">
                    6
                </td>
                
                <td class="px-6 py-4">
                    2
                </td>
                <td class="px-6 py-4">
                    6
                </td>
                <td class="px-6 py-4">
                    9
                </td>
            </tr>
            <tr class="bg-white border-b font-bold hover:bg-gray-50 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    U-bor clinic
                </th>
                <td class="px-6 py-4">
                    1
                </td>
                <td class="px-6 py-4">
                    7
                </td>
                
                <td class="px-6 py-4">
                    1
                </td>
                <td class="px-6 py-4">
                    7
                </td>
                <td class="px-6 py-4">
                    8
                </td>
            </tr>
            
            
        </tbody>
    </table>
</div>
