

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
        <caption class="font-extrabold text-2xl">Student Population</caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    No.
                </th>
                <th scope="col" class="px-6 py-3">
                    Project Deliverable
                </th>
                <th scope="col" class="px-6 py-3">
                    Beneficiary/Community 
                </th>
                <th scope="col" class="px-6 py-3">
                    COST - LRD
                </th>

                <th scope="col" class="px-6 py-3">
                    COST - USD
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b  hover:bg-gray-50 ">
                <td class="px-6 py-4">
                    1
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    Construction of a dedicated website and acquisition of domain and credentials
                </th>
                <td class="px-6 py-4">
                    Hon. Williams, Sr.
                </td>
                <td class="px-6 py-4">
                    0
                </td>
                
                <td class="px-6 py-4">
                    0
                </td>
                <td class="px-6 py-4">
                    Ongoing
                </td>
            </tr>
            <tr class="bg-white border-b  hover:bg-gray-50 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    PRIMARY
                </th>
                <td class="px-6 py-4">
                    1,629
                </td>
                <td class="px-6 py-4">
                    711
                </td>
                
                <td class="px-6 py-4">
                    2,340
                </td>
                <td class="px-6 py-4">
                    51.53%
                </td>
            </tr>
            <tr class="bg-white border-b  hover:bg-gray-50 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    JUNIOR HIGH
                </th>
                <td class="px-6 py-4">
                    320
                </td>
                <td class="px-6 py-4">
                    98
                </td>
                <td class="px-6 py-4">
                    418
                </td>
                <td class="px-6 py-4">
                    9.21%
                </td>
            </tr>
            <tr class="bg-white border-b  hover:bg-gray-50 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    SENIOR HIGH
                </th>
                <td class="px-6 py-4">
                    129
                </td>
                <td class="px-6 py-4">
                    0
                </td>
                
                <td class="px-6 py-4">
                    129
                </td>
                <td class="px-6 py-4">
                    2.84%
                </td>
            </tr>
            <tr class="bg-white border-b font-bold hover:bg-gray-50 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    GRAND TOTAL 
                </th>
                <td class="px-6 py-4">
                    3,141
                </td>
                <td class="px-6 py-4">
                    1,400
                </td>
                
                <td class="px-6 py-4">
                    4,541
                </td>
                <td class="px-6 py-4">
                    100%
                </td>
            </tr>
            
            
        </tbody>
    </table>
</div>
